@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

header {
  height: 9vh;
}

header .topo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  margin-top: 22px;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  background: #00b7ff;
  padding: 0 12px 0;
  color: #f7f5f8;
  cursor: pointer;
}

header li, header a {
  list-style: none;
  text-decoration: none;
  color: #3b3b3b;
  margin-left: 15px;
  font-size: 1.0rem;
  margin-top: 40px;
  text-transform: uppercase;
}

.banner {
  display: -ms-grid;
  display: grid;
  border-bottom: solid 1px #e0dfdf;
  border-top: solid 1px #e0dfdf;
  height: 30vh;
  margin-top: 5px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .menu {
  border-right: solid 1px #e0dfdf;
  width: 25vw;
}

main .menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40%;
}

main .menu .menu-items h3 {
  margin-top: 15px;
  font-family: "Noto Sans KR", sans-serif;
  color: #3e3f3f;
  text-transform: uppercase;
}

main .menu .menu-items li, main .menu .menu-items a {
  list-style: none;
  text-decoration: none;
  color: #3b3b3b;
  margin-top: 11px;
}

main .menu .menu-items li:hover, main .menu .menu-items a:hover {
  color: #00b7ff;
}

main .destaques {
  display: -ms-grid;
  display: grid;
  margin-left: 0%;
  padding: 12px;
  -ms-grid-columns: (200px)[4];
      grid-template-columns: repeat(4, 200px);
  grid-column-gap: 45px;
  grid-row-gap: 80px;
}

main .destaques div {
  width: 235px;
  padding: 6%;
  border: solid 1px #e0dede;
}

main .destaques h3 {
  font-size: 0.9em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .destaques img {
  width: 220px;
}

main .destaques h3, main .destaques a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-decoration: none;
  color: #3b3b3b;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 0%;
}

main .destaques a {
  background: #00b7ff;
  padding: 11px;
  width: 150px;
  margin-top: 10px;
  margin-left: 15%;
  text-transform: uppercase;
  color: #fdf5f5;
}

main .destaques p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

main .destaques .parcela {
  color: #4b4a4a;
  font-size: 0.9em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 1px #e7e6e6;
  background: #faf9f9;
  height: 50vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .info {
  margin-top: 5%;
}

footer .info li, footer .info a {
  list-style: none;
  text-decoration: none;
  color: #3b3b3b;
  font-size: 0.9em;
  color: #3f3e3e;
}

footer .info h4 {
  text-transform: uppercase;
  color: #272726;
  margin-bottom: 6px;
}

footer .newsletter {
  margin-top: 5%;
}

footer .newsletter .socials i {
  color: #00b7ff;
  padding: 2px;
}

footer .newsletter .email h5 {
  text-transform: uppercase;
  color: #353434;
}

footer .newsletter .email input {
  padding: 2% 12%;
  outline: none;
  border: solid 1px #c2c0c0;
}

footer .newsletter .email button {
  cursor: pointer;
  background-color: #0d9cd4;
  border: none;
  outline: none;
  color: #f8f8f8;
  margin-top: 2px;
  padding: 6% 47.1%;
  text-transform: uppercase;
  font-weight: bold;
}

footer .pagamento-icons {
  margin-top: 11%;
}

footer .pagamento-icons img {
  padding: 2% 3%;
}

footer .pagamento-icons h4 {
  text-transform: uppercase;
  color: #272726;
}

.modal {
  position: fixed;
  /* vai se mover junto com a tela */
  top: 50%;
  left: 50%;
  border: 2px solid #e3e3e6;
  border-radius: 2px;
  z-index: 10;
  /* ficar acima de tudo e todos */
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  background-color: #faf9f9;
  width: 450px;
  max-width: 80%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  /*conteudo fica centralizado na tela*/
}

.modal .modal-header {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-header .close-button {
  cursor: pointer;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */